<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .active {
            color: red
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="inp">
            <input type="text" v-model="msg" @keyup="search">
            <button @click="add">添加</button>
        </div>
        <ul>
            <li v-for="(item,index) in showList" :class=['li1',item.isActive?'active':''] @click='change(item)'>
                {{item.name}}
                <button @click.stop='del(index)'>删除</button>
            </li>
        </ul>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                msg: '',
                list: [
                    {
                        name: '111',
                        isActive: false
                    }
                ],
                showList: [
                    {
                        name: '111',
                        isActive: false
                    }
                ]
            },
            methods: {
                add() {
                    this.list.push({
                        name: this.msg,
                        isActive: false
                    })
                    this.showList = [...this.list]
                    this.msg = ''
                },
                del(index) {
                    this.list.splice(index, 1)
                    this.showList = [...this.list]
                },
                change(item) {
                    item.isActive = !item.isActive
                },
                search() {
                    this.showList = this.list.filter((value) => {
                        return value.name.includes(this.msg)
                    })
                }
            },
        })
    </script>
</body>

</html>